In [1]:
#question 1

In [1]:
p = " dhoni "

In [10]:
l = [ 89.23, "dhoni", True, "jadeja", 7, 78 ]

In [2]:
q = 49.64

In [13]:
t = ( 'google', 59+ 6j)

In [15]:
#question 2

In [ ]:
str , str, list, float

In [18]:
#question 3

In [ ]:
division, modulous, floor division, exponention

In [20]:
#question 4

In [22]:
d = ["sandesh", 56, 125, True, False, "rice", 91.66, ('cricket','football'), 45+ 9j, "ipl"]

In [23]:
for i in d:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'float'>
<class 'tuple'>
<class 'complex'>
<class 'str'>

In [50]:
#question 5

In [14]:
a = int(input("enter a no. A"))
b = int(input("enter a no. B"))
count = 0
while a % b == 0:
    a = a//b
    count += 1
if count > 0:
    print(f"{count} times, {b} divides {a}")
else:          
      print(f"{b} does not divide {a}")

enter a no. A 37
enter a no. B 3

3 does not divide 37

In [24]:
#question 6

In [9]:
k = [51, 9, 59, 41, 11, 13, 62, 74, 7, 55, 14, 92, 31, 81, 100, 83, 6, 61, 80, 65, 67, 60, 16, 26, 50]
for i in k:
    if (i) % 3 :
        print(" not divisible by 3")
    else :
        print("divisible by 3")

divisible by 3
divisible by 3
 not divisible by 3
 not divisible by 3
 not divisible by 3
 not divisible by 3
 not divisible by 3
 not divisible by 3
 not divisible by 3
 not divisible by 3
 not divisible by 3
 not divisible by 3
 not divisible by 3
divisible by 3
 not divisible by 3
 not divisible by 3
divisible by 3
 not divisible by 3
 not divisible by 3
 not divisible by 3
 not divisible by 3
divisible by 3
 not divisible by 3
 not divisible by 3
 not divisible by 3

In [ ]:
#question 7

In [ ]:
Mutable objects with examples: 
The object which allows to changes its value without changing its identity is a mutable object.
Key points:
	-Objects can be changed
	-Generally provides method to edit elements
	-Easy to edit and efficient
Examples :
	#	List [ 49, 7+ 6j, "raju", True, (ipl,bbl)]
	#	Set (1,2,3)
Immutable objects with examples:
The objects which can't be changed after its creation is called immutable objects.
Key points:
    -objects can"t be changed.
    -quicker to access.
Examples :
    #integers 45 
    #boolean  True
    #string "sandesh"
    #floating point 48.69